<!DOCTYPE HTML>
<!--
	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Leef Natuurlijk & Gezond | Hapjespannen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Leef Natuurlijk & Gezond</strong></a>
<!--									<ul class="icons">-->
<!--										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>-->
<!--									</ul>-->
								</header>

							<!-- Content -->
							<section id="banner">
								<div class="content">
									<header class="main">
										<h1>Hapjespannen</h1>
										</header>
										<p>Het overstappen op PFAS-vrije hapjespannen is essentieel voor het creëren van een gezondere en veiligere keuken. Veel traditionele hapjespannen, vooral die met antiaanbaklagen op basis van PFAS (zoals Teflon), kunnen schadelijke chemicaliën vrijgeven bij hoge temperaturen en dragen bij aan milieuproblemen. Bovendien kunnen deze stoffen zich ophopen in het lichaam en langdurige gezondheidsrisico’s veroorzaken.</p>
										<p>Door te kiezen voor PFAS-vrije hapjespannen kun je de blootstelling aan schadelijke stoffen verminderen en tegelijkertijd bijdragen aan een duurzamere leefomgeving. PFAS-vrije alternatieven bieden uitstekende kookprestaties zonder concessies te doen aan jouw gezondheid of het milieu. Hier zijn enkele opties om te overwegen:</p>
								</div>
								<span class="image object"><img src="static/images/hapjespannen.jpg" alt="" /></span>
							</section>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>1. BK Easy Induction Ceramic Hapjespan</h3>
										<ul>
											<li><b>Materiaal en coating:</b> Vervaardigd uit hoogwaardig aluminium met een duurzame keramische antiaanbaklaag, volledig vrij van PFAS, PFOA en andere schadelijke stoffen.</li>
											<li><b>Warmteverdeling:</b> De aluminium basis zorgt voor snelle en gelijkmatige warmteverdeling, ideaal voor het bereiden van stoofgerechten en sauzen.</li>
											<li><b>Compatibiliteit:</b> Geschikt voor alle warmtebronnen, inclusief inductie, en overbestendig tot 160˚C.</li>
											<li><b>Gebruiksgemak:</b> Voorzien van een stevige, ergonomische handgreep die koel blijft tijdens het koken. De keramische coating maakt schoonmaken eenvoudig en voorkomt aanbakken.</li>
										</ul>
									<a href="https://www.bol.com/nl/nl/p/bk-easy-induction-ceramic-hapjespan-met-deksel-o24cm-4-6l-inductie-pfas-vrij/9300000032891767/?bltgh=cf2fd9d7-7c1b-47cc-ad7b-598f48d70984.ProductList_Middle.0.ProductImage&cid=1749024190268-2612756546884" target="_blank" rel="noopener noreferrer">BK Easy Induction Ceramic Hapjespan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/hapjespan01.jpg" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>2. GreenPan Memphis Hapjespan</h3>
										<ul>
											<li><b>Materiaal en coating:</b> Gemaakt van gesmeed aluminium met een PFAS-vrije Thermolon™ keramische antiaanbaklaag, milieuvriendelijk geproduceerd en bestand tegen hoge temperaturen.</li>
											<li><b>Warmteverdeling:</b> Het aluminium garandeert een snelle en gelijkmatige warmteverspreiding, ideaal voor gelijkmatig garen van gerechten.</li>
											<li><b>Compatibiliteit:</b> Geschikt voor alle warmtebronnen, inclusief inductie. Ovenbestendig tot 180°C.</li>
											<li><b>Duurzaamheid:</b> Voorzien van een ergonomisch, hittebestendig handvat en krasbestendige coating voor eenvoudig onderhoud en langdurig gebruik. </li>
										</ul>
									<a href="https://www.bol.com/nl/nl/p/greenpan-memphis-hapjespan-28cm-zwart-inductie-pfas-vrij/9200000096821120/?bltgh=b13987ff-3588-4207-bb28-15be3c323178.ProductList_Middle.0.ProductImage&cid=1749024396619-5694008337689" target="_blank" rel="noopener noreferrer">GreenPan Memphis Hapjespan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/hapjespan02.jpg" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>3. Westinghouse Hapjespan - Zwart Marmer</h3>
										<ul>
											<li><b>Materiaal en coating:</b> Gemaakt van gegoten aluminium met een marmeren antiaanbaklaag, vrij van PFAS en andere schadelijke stoffen. De coating biedt natuurlijke anti-aanbakeigenschappen zonder chemische toevoegingen.</li>
											<li><b>Warmteverdeling:</b> De dikke bodem zorgt voor optimale warmteverdeling en -behoud, waardoor gerechten gelijkmatig garen zonder hotspots.</li>
											<li><b>Compatibiliteit:</b> Geschikt voor alle warmtebronnen, inclusief inductie. Ovenbestendig tot circa 160°C.</li>
											<li><b>Gebruiksgemak:</b> Voorzien van een ergonomische soft-touch handgreep en een krasbestendige, eenvoudig te reinigen marmercoating die weinig vet vereist.</li>
										</ul>
									<a href="https://www.bol.com/nl/nl/p/westinghouse-hapjespan-inductie-o-28-cm-zwart-marmer-met-deksel/9200000132442881/?bltgh=5920c9f8-7db1-4558-875d-4697f8e49429.ProductList_Middle.0.ProductImage&cid=1749024963547-5016259011287" target="_blank" rel="noopener noreferrer">Westinghouse Hapjespan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/hapjespan03.jpg" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>4. DeBuyer Mineral B Element Hapjespan - Zilver</h3>
									<ul>
										<li><b>Materiaal en coating:</b> Vervaardigd uit 100% natuurlijk koolstofstaal, zonder antiaanbaklaag of chemische coatings. De pan ontwikkelt een natuurlijke antiaanbakeigenschap naarmate deze ingebrand wordt.</li>
										<li><b>Warmteverdeling:</b> Uitstekende warmtegeleiding en -behoud, ideaal voor het dichtschroeien, sauteren en langzaam garen van gerechten.</li>
										<li><b>Compatibiliteit:</b> Geschikt voor alle warmtebronnen, inclusief inductie en gebruik in de oven</li>
										<li><b>Gebruiksgemak:</b> Robuust en duurzaam ontwerp. Vereist inbranden voor optimaal gebruik en dient met de hand gereinigd te worden. Bij correct onderhoud gaat de pan een leven lang mee.</li>
									</ul>
									<a href="https://www.bol.com/nl/nl/p/debuyer-mineral-b-black-hapjespan-staal-o-28cm/9300000013627556/?bltgh=c739d76d-f42d-4237-a97a-65836f91fc1f.ProductList_Middle.0.ProductImage&cid=1749025068988-7026475090183" target="_blank" rel="noopener noreferrer">DeBuyer Mineral B Element Hapjespan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/hapjespan04.jpg" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>5. Brabantia INDU+ R Hapjepan</h3>
									<ul>
										<li><b>Materiaal en coating:</b> Vervaardigd uit 100% gerecycled aluminium met een keramische antiaanbaklaag op waterbasis, volledig vrij van PFAS en andere schadelijke stoffen.</li>
										<li><b>Warmteverdeling:</b> De hoogwaardige aluminium bodem zorgt voor snelle en gelijkmatige warmteverdeling, wat resulteert in energiezuinig koken en optimale bereiding van diverse gerechten.</li>
										<li><b>Compatibiliteit:</b> Geschikt voor alle warmtebronnen, inclusief inductie. Wordt geleverd met een transparant glazen deksel met stoomgaatje, waardoor je het kookproces eenvoudig kunt volgen en overkoken wordt voorkomen.</li>
										<li><b>Gebruiksgemak:</b> Voorzien van een ergonomische bakelieten handgreep die koel blijft tijdens het koken, en een extra handgreep voor veilige en comfortabele grip. De krasbestendige keramische coating maakt schoonmaken eenvoudig en vereist weinig tot geen vetstoffen tijdens het koken.</li>
									</ul>
									<a href="https://www.bol.com/nl/nl/p/brabantia-indu-r-hapjepan-skillet-inclusief-glazen-deksel-o-28-cm-100-gerecycled-aluminium-keramische-antiaanbaklaag-ergonomisch-en-licht-ook-geschikt-voor-inductie-100-pfas-vrij-kleur-grijs/9300000183634539/?bltgh=e3e779d0-5365-435e-a963-f664e7614c9b.ProductList_Middle.7.ProductTitle&cid=1749025229473-1511896737734" target="_blank" rel="noopener noreferrer">Brabantia INDU+ R Hapjepan </a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/hapjespan05.jpg" alt=""></span>
								</div>
							</div>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/snijplanken">Snijplanken</a></li>
										<li><span class="opener">Pannen</span>
											<ul>
												<li><a href="koekenpannen">Koekenpannen</a></li>
												<li><a href="hapjespannen">Hapjespannen</a></li>
												<li><a href="wokpannen">Wokpannen</a></li>
											</ul>
										</li>
										<li><a href="airfryers">Airfryers</a></li>
										<li><a href="vershoudcontainers">Vershoudbakjes</a></li>
									</ul>
								</nav>

							<!-- Section -->
<!--								<section>-->
<!--									<header class="major">-->
<!--										<h2>Ante interdum</h2>-->
<!--									</header>-->
<!--									<div class="mini-posts">-->
<!--										<article>-->
<!--											<a href="#" class="image"><img src="static/images/pic07.jpg" alt="" /></a>-->
<!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--										</article>-->
<!--										<article>-->
<!--											<a href="#" class="image"><img src="static/images/pic08.jpg" alt="" /></a>-->
<!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--										</article>-->
<!--										<article>-->
<!--											<a href="#" class="image"><img src="static/images/pic09.jpg" alt="" /></a>-->
<!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--										</article>-->
<!--									</div>-->
<!--									<ul class="actions">-->
<!--										<li><a href="#" class="button">More</a></li>-->
<!--									</ul>-->
<!--								</section>-->

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Contact</h2>
									</header>
									<p>Heb je vragen, opmerking of tips? Stuur ons een mailtje naar onderstaand adres.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">info@gezondleven.nl</a></li>
<!--										<li class="icon solid fa-phone">(000) 000-0000</li>-->
<!--										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />-->
<!--										Nashville, TN 00000-0000</li>-->
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; <span id="year"></span> Gezondleven</p>
									<p>
								</footer>
								<script>
        						document.getElementById("year").textContent = new Date().getFullYear();
    							</script>
							<!DOCTYPE html>

    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>