<!DOCTYPE HTML>
<!--
	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Leef Natuurlijk & Gezond | Koekenpannen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Bekijk onze selectie PFAS-vrije koekenpannen. Gezond koken zonder schadelijke stoffen.">
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Leef Natuurlijk & Gezond</strong></a>
<!--									<ul class="icons">-->
<!--										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>-->
<!--									</ul>-->
								</header>

							<!-- Content -->
							<section id="banner">
								<div class="content">
									<header class="main">
										<h1>Koekenpannen</h1>
										</header>
										<p>Het overstappen op PFAS-vrije koekenpannen is een belangrijke stap naar een veiligere en gezondere keuken. Veel traditionele koekenpannen, met name die voorzien zijn van een antiaanbaklaag op basis van PFAS (zoals Teflon), kunnen bij verhitting giftige dampen afgeven. Deze chemische stoffen zijn niet alleen schadelijk voor het milieu, maar kunnen zich ook ophopen in het menselijk lichaam en leiden tot ernstige gezondheidsrisico’s op de lange termijn.</p>
										<p>Door bewust te kiezen voor koekenpannen zonder PFAS verminder je de dagelijkse blootstelling aan schadelijke stoffen. Tegelijkertijd kies je voor een product dat beter is voor het milieu en veilig is voor jou en je gezin. Moderne PFAS-vrije alternatieven combineren uitstekende antiaanbakeigenschappen met duurzame materialen zoals roestvrij staal, gietijzer of keramiek. Zo geniet je van hoogwaardig kookgerei zónder concessies te doen aan prestaties of veiligheid.</p>
                                        <p>PFAS-vrije koekenpannen gaan vaak langer mee, zijn recyclebaar en bevatten geen chemische coatings die kunnen afbladderen. Het is een verantwoorde keuze voor wie bewust wil omgaan met gezondheid én duurzaamheid.</p>
                                        <p>Hieronder vind je een overzicht van veilige en betrouwbare alternatieven om te overwegen:</p>
								</div>
								<span class="image object"><img src="static/images/pannen.jpg" alt="" /></span>
							</section>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>1. BK Easy Induction Ceramic Koekenpan</h3>
										<ul>
											<li><b>Materiaal en coating:</b> Gemaakt van aluminium met een keramische antiaanbaklaag, vrij van PFAS, PFOA en andere schadelijke chemicaliën.</li>
											<li><b>Warmteverdeling:</b> Uitstekende warmtegeleiding en gelijkmatige verdeling door de aluminium constructie.</li>
											<li><b>Compatibiliteit:</b> Geschikt voor alle warmtebronnen, inclusief inductie, en ovenbestendig tot 160˚C.</li>
											<li><b>Gebruiksgemak:</b> Lichtgewicht, ergonomisch ontwerp met een hittebestendige greep en eenvoudig te reinigen dankzij de krasbestendige keramische laag.</li>
										</ul>
									<a href="https://www.bol.com/nl/nl/p/bk-easy-induction-ceramic-koekenpan-o28-cm-pfas-vrij/9300000032109237/" target="_blank" rel="noopener noreferrer">BK Easy Induction Ceramic Koekenpan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/koekenpan01.webp" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>2. GreenPan Memphis Koekenpan</h3>
										<ul>
											<li><b>Materiaal en antiaanbaklaag:</b> Gemaakt van aluminium en voorzien van een Thermolon™ Infinity keramische antiaanbaklaag, versterkt met diamanten, die vrij is van PFAS en andere schadelijke stoffen.</li>
											<li><b>Geschiktheid voor warmtebronnen:</b> Compatibel met alle warmtebronnen, inclusief inductie en ovenbestendig tot 180˚C.</li>
											<li><b>Ergonomisch ontwerp:</b> Voorzien van een bakelieten handgreep die koel blijft tijdens het koken voor veilig en comfortabel gebruik.</li>
											<li><b>Duurzaamheid:</b> De keramische antiaanbaklaag is krasbestendig en behoudt zijn kwaliteit langer dan traditionele coatings, mits goed onderhouden. </li>
										</ul>
									<a href="https://www.bol.com/nl/nl/p/greenpan-memphis-koekenpan-28cm-zwart-inductie-pfas-vrij/9200000096821126/?bltgh=lWOMqpvKK0q3iwinqnxBkw.mWELK5Fq7C1whLXCJwdMOQ_0_16.18.ProductTitle" target="_blank" rel="noopener noreferrer">GreenPan Memphis Koekenpan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/koekenpan02.webp" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>3. Westinghouse Koekenpan - Zwart Marmer</h3>
										<ul>
											<li><b>Materiaal en antiaanbaklaag:</b> Gemaakt van gesmeed aluminium met een drievoudige marmeren antiaanbaklaag, vrij van PFAS en andere schadelijke stoffen.</li>
											<li><b>Geschiktheid voor warmtebronnen:</b> Compatibel met alle warmtebronnen, inclusief gas, inductie, elektrisch, keramisch en ovenbestendig tot 160˚C.</li>
											<li><b>Ergonomisch ontwerp:</b> Voorzien van een koud aanvoelende siliconen handgreep voor veilig en comfortabel gebruik.</li>
											<li><b>Onderhoudsgemak:</b> De hoogwaardige antiaanbaklaag maakt het schoonmaken eenvoudig met een spons en zeep; de pan is bestand tegen thermische schokken en chipt niet.</li>
											<li><b>Verkrijgbare maten:</b> Ø 20 cm, Ø 24 cm & Ø 28 cm.</li>
										</ul>
									<a href="https://www.bol.com/nl/nl/p/westinghouse-koekenpan-inductie-o-28-cm-zwart-marmer/9200000124472082/?bltgh=hnN4JI1CG-IjXGVZtKNLRA.2_6.31.ProductTitle" target="_blank" rel="noopener noreferrer">Westinghouse Koekenpan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/koekenpan03.webp" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>4. DeBuyer Mineral B Element Koekenpan - Zilver</h3>
									<ul>
										<li><b>Materiaal en constructie:</b> Gemaakt van 100% natuurlijk plaatstaal, voorzien van een bijenwaslaag ter bescherming tegen oxidatie en voor verbeterde antiaanbakeigenschappen.</li>
										<li><b>Antiaanbaklaag:</b> Ontwikkelt na inbranden een natuurlijke antiaanbaklaag zonder synthetische coatings of chemicaliën, waardoor het PFAS-vrij is.</li>
										<li><b>Warmtebestendigheid en -verdeling:</b> Uitstekende warmtegeleiding en -verdeling, geschikt voor hoge temperaturen, ideaal voor het dichtschroeien van vlees en andere ingrediënten.</li>
										<li><b>Compatibiliteit:</b> Geschikt voor alle warmtebronnen, inclusief inductie en ovengebruik tot 200˚C.</li>
									</ul>
									<a href="https://www.bol.com/nl/nl/p/debuyer-mineral-b-element-koekenpan-zilver-rond-o-28-cm/9200000002756846/?bltgh=usXNoNcS5WVJ4gBbCqtNrA.2_12.13.ProductTitle" target="_blank" rel="noopener noreferrer">DeBuyer Mineral B Element Koekenpan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/koekenpan04.jpg" alt=""></span>
								</div>
							</div>

								<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>5. TVS ECO OK Keramische Koekenpan</h3>
									<ul>
										<li><b>Materiaal en antiaanbaklaag:</b> Gemaakt van 100% gerecycled aluminium, voorzien van een duurzame keramische antiaanbaklaag die bestand is tegen vlekken en hoge temperaturen.</li>
										<li><b>Gezond en veilig koken:</b> Vrij van PFAS en BPA, waardoor het een milieuvriendelijke en veilige keuze is voor dagelijks gebruik.</li>
										<li><b>Geschiktheid voor warmtebronnen:</b> Compatibel met alle warmtebronnen, inclusief inductie, gas, keramisch en elektrisch.</li>
										<li><b>Ergonomisch ontwerp:</b> Voorzien van een ergonomische handgreep gemaakt van gerecycled plastic, die koel blijft tijdens het koken voor comfortabel en veilig gebruik.</li>
									</ul>
									<a href="https://www.bol.com/nl/nl/p/tvs-koekenpan-28cm-eco-100-gerecycled/9300000140900261/?s2a=&bltgh=kpM2i5xJD3TEV-wicbtE-w.2_49_50.51.FeatureOptionButton#productTitle" target="_blank" rel="noopener noreferrer">TVS ECO OK Keramische Koekenpan</a>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/koekenpan05.webp" alt=""></span>
								</div>
							</div>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">

								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/snijplanken">Snijplanken</a></li>
										<li><span class="opener">Pannen</span>
											<ul>
												<li><a href="koekenpannen">Koekenpannen</a></li>
												<li><a href="hapjespannen">Hapjespannen</a></li>
												<li><a href="wokpannen">Wokpannen</a></li>
											</ul>
										</li>
										<li><a href="airfryers">Airfryers</a></li>
										<li><a href="vershoudcontainers">Vershoudbakjes</a></li>
									</ul>
								</nav>

							<!-- Section -->
<!--								<section>-->
<!--									<header class="major">-->
<!--										<h2>Ante interdum</h2>-->
<!--									</header>-->
<!--									<div class="mini-posts">-->
<!--										<article>-->
<!--											<a href="#" class="image"><img src="static/images/pic07.jpg" alt="" /></a>-->
<!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--										</article>-->
<!--										<article>-->
<!--											<a href="#" class="image"><img src="static/images/pic08.jpg" alt="" /></a>-->
<!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--										</article>-->
<!--										<article>-->
<!--											<a href="#" class="image"><img src="static/images/pic09.jpg" alt="" /></a>-->
<!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--										</article>-->
<!--									</div>-->
<!--									<ul class="actions">-->
<!--										<li><a href="#" class="button">More</a></li>-->
<!--									</ul>-->
<!--								</section>-->

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Contact</h2>
									</header>
									<p>Heb je vragen, opmerking of tips? Stuur ons een mailtje naar onderstaand adres.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="mailto:info@leefnatuurlijkengezond.nl">info@leefnatuurlijkengezond.nl</a></li>
<!--										<li class="icon solid fa-phone">(000) 000-0000</li>-->
<!--										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />-->
<!--										Nashville, TN 00000-0000</li>-->
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; <span id="year"></span> Leef Natuurlijk & Gezond</p>
									<p>
								</footer>
								<script>
        						document.getElementById("year").textContent = new Date().getFullYear();
    							</script>
							<!DOCTYPE html>

    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>