<!DOCTYPE HTML>
<!--
	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>EcoLeven | Pannen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />


	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>EcoLeven</strong></a>
<!--									<ul class="icons">-->
<!--										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>-->
<!--									</ul>-->
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Pannen</h1>
									</header>

									<span class="image main"><img src="static/images/cutting_boards.jpg" alt="" /></span>

									<p>Het overstappen op PFAS-vrije pannen is essentieel voor het creëren van een gezondere en veiligere keuken. Veel traditionele pannen, vooral die met antiaanbaklagen op basis van PFAS (zoals Teflon), kunnen schadelijke chemicaliën vrijgeven bij hoge temperaturen en dragen bij aan milieuproblemen. Bovendien kunnen deze stoffen zich ophopen in het lichaam en langdurige gezondheidsrisico’s veroorzaken.</p>
									<p>Door te kiezen voor PFAS-vrije pannen kun je de blootstelling aan schadelijke stoffen verminderen en tegelijkertijd bijdragen aan een duurzamere leefomgeving. PFAS-vrije alternatieven bieden uitstekende kookprestaties zonder concessies te doen aan jouw gezondheid of het milieu. Hier zijn enkele opties om te overwegen:</p>

									<hr class="major" />

									<h2>1. BK Easy Induction Ceramic Koekenpan</h2>
									<ul>
										<li><b>Material:</b> Sustainably sourced solid maple wood.</li>
										<li><b>Why It’s Non-Toxic:</b> Naturally antimicrobial; free of harmful chemicals or glues.</li>
										<li><b>Best For:</b> Versatile food prep, including chopping vegetables and cutting meats. Ideal for those seeking durability and an eco-conscious choice.</li>
										<li><b>Care Tip:</b> Requires regular oiling with food-grade mineral oil to maintain quality</li>
										<a href="https://www.bol.com/nl/nl/p/bk-easy-induction-ceramic-koekenpan-o28-cm-pfas-vrij/9300000032109237/" >BK Easy Induction Ceramic Koekenpan</a>
									</ul>

									<hr class="major" />

									<h2>2. Virginia Boys Kitchens Large Walnut Wood Cutting Board</h2>
									<ul>
										<li><b>Material:</b> American black walnut wood</li>
										<li><b>Why It’s Non-Toxic:</b> Pre-seasoned with coconut oil; no synthetic finishes or toxic additives.</li>
										<li><b>Best For:</b> Elegant presentations and heavy-duty chopping. Its reversible design with a juice groove is perfect for carving meats​
										</li>
									</ul>

									<hr class="major" />

									<h2>3. Greener Chef Extra Large Bamboo Cutting Board</h2>
									<ul>
										<li><b>Material:</b> 100% organic bamboo.</li>
										<li><b>Why It’s Non-Toxic:</b> No chemicals, glues, or toxic finishes are used in the manufacturing process.</li>
										<li><b>Best For:</b> Lightweight, eco-friendly, and ideal for everyday use, especially for vegetables and fruits. Note: Bamboo is harder on knives and requires regular maintenance to avoid cracks</li>
									</ul>

									<hr class="major" />

									<h2>4. Notrax Sani-Tuff Premium Rubber Cutting Board</h2>
									<ul>
										<li><b>Material:</b> Natural rubber.</li>
										<li><b>Why It’s Non-Toxic:</b> NSF-certified and resistant to bacteria growth; made without harmful plastics or fillers.</li>
										<li><b>Best For:</b> Professional kitchens or homes looking for a durable, non-slip surface that resists knife marks</li>
									</ul>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/snijplanken">Snijplanken</a></li>
										<li><a href="pannen">Pannen</a></li>
										<li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Etiam Dolore</a></li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ante interdum</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="static/images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>