<!DOCTYPE HTML>
<!--
	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>EcoLeven | Snijplanken</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">


	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>EcoLeven</strong></a>
<!--									<ul class="icons">-->
<!--										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>-->
<!--									</ul>-->
								</header>

							<!-- Content -->
							<section id="banner">
								<div class="content">
									<header class="main">
									<h1>Snijplanken</h1>
										</header>
									<p>Het vervangen van snijplanken door niet-giftige alternatieven is essentieel voor het behouden van een gezondere en veiligere keuken. Veel traditionele snijplanken, vooral die van plastic of materialen van lage kwaliteit, kunnen bacteriën vasthouden in krassen, schadelijke chemicaliën afgeven en na verloop van tijd slijten. Door te kiezen voor niet-giftige snijplanken kun je de blootstelling aan giftige stoffen verminderen en een milieuvriendelijkere kookomgeving creëren. Hier zijn enkele opties om te overwegen:</p>
								</div>
								<span class="image object"><img src="static/images/cutting_boards.jpg" alt="" /></span>
							</section>

									<hr class="major" />

									<div class="row">
								<div class="col-8 col-12-small">
									<h3>1. Butler Snijplank - Walnoothout - 45x35x3cm</h3>
										<ul>
											<li><b>Hoogwaardig walnoothout:</b> Gemaakt van duurzaam walnoothout met een harde en dichte structuur, waarddoor de plank nauwelijks vocht opneemt en lang meegaat.</li>
											<li><b>Mesvriendlijk oppervlak:</b> Het hout is zacht genoeg om je messen te sparen, wat de levensduur van je messen verlengt.</li>
											<li><b>Dubbelzijdig gebruik:</b> De snijplank is aan beide zijde te gebruiken, wat handig is voor verschillende soorten snijwerk of presentatie.</li>
											<li><b>Handige handgrepen:</b> Voorzien vangefreesde handgrepen aan de zijkanten, waardoor de plank gemakkelijkte verplaatsen is.</li>
											<a href="https://www.bol.com/nl/nl/p/butler-snijplank-walnoot-450x350x30mm/9200000050018658/" target="_blank" rel="noopener noreferrer">Butler Walnoothouten Snijplank</a>
										</ul>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/snijplank01.jpg" alt=""></span>
								</div>
							</div>

							<hr class="major" />

									<div class="row">
								<div class="col-8 col-12-small">
									<h3>2. VDN Professionele Snijplank - Accia Hout - 26x38x3.5cm</h3>
										<ul>
											<li><b>Duurzaam acaciahout:</b> Gemaakt van stevig acaciahout, bekend om zijn duurzaamheid en natuurlijke antibacteriële eigenschappen.</li>
											<li><b>Praktische sapgeul:</b> Voorzien van een sapgeul die sappen van vlees, fruit of groenten opvangt, waardoor je aanrecht schoon blijft tijdens het snijden.</li>
											<li><b>Handige handvatten:</b> Ingefreesde handvatten aan de zijkanten maken het makkelijk om de snijplank te verplaatsen en te gebruiken als serveerplank voor bijvoorbeeld tapas.</li>
											<li><b>Anti-slipvoetjes:</b> Uitgerust met rubberen voetjes aan de onderzijde, waardoor de plank stevig op het aanrecht blijft liggen tijdens het snijden..</li>
											<a href="https://www.bol.com/nl/nl/p/vdn-professionele-snijplank-acacia-hout-met-sapgeul-en-handvatten-anti-slip-hakblok-26x38x3-5-cm/9300000075561375/?s2a=&bltgh=oxC7dyxlWIWNj7ThScZCqQ.4_61_62.63.FeatureOptionButton#productTitle">VDN Acaciahouten Snijplank</a>
										</ul>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/snijplank02.jpg" alt=""></span>
								</div>
							</div>

									<hr class="major" />
							<div class="row">
								<div class="col-8 col-12-small">
									<h3>3. Zwilling Snijplank - Bamboe - 35.5x25x2.5cm</h3>
										<ul>
											<li><b>Duurzaam en mesvriendelijk materiaal:</b> Gemaakt van stevig bamboe, een duurzaam materiaal dat zacht is voor je messen. Hierdoor blijven je messen langer scherp en wordt de levens duur van zowel de plank als je messen verlengd.</li>
											<li><b>Hygiënisch en makkelijk te reinigen:</b> Bambboe heeft van nature antibacteriële eigenschappen en neemt weinig vocht op, wat het risico op bacteriegroei vermindert. Bovendien is de plank eenvoudig schoon te maken met een vochtige doek en mild reinigingsmiddel .</li>
											<li><b>Voorzien van sapgeul:</b> De snijplank is uitgerust met een sapgeul aan één zijde, die voorkomt dat sappen vlees, fruit of groenten op het aanrecht terechtkomen. Dit houdt je wekruimte schoon en georganiseerd.</li>
											<li><b>Omkeerbaar ontwerp:</b> De plank is aan beide zijden te gebruiken. Eén zijde met de sapgeul is ideaal voor het snijden van sappige ingedriënten, terwijl de vlakke zijde geschikt is voor het snijden van brood, groenten of als serveerplank.</li>
											<a href="https://www.bol.com/nl/nl/p/zwilling-snijplank-bamboe-middelgroot-355-x-30-x-250-mm/9200000019064622/?s2a=&bltgh=s97vOaos6ndZgvCC3sdIxA.4_30_31.32.FeatureOptionButton#productTitle" target="_blank" rel="noopener noreferrer">Zwilling Bamboe Snijplank</a>
										</ul>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/snijplank03.jpg" alt=""></span>
								</div>
							</div>

									<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>4. Primecook Snijplank - Composiet - 35x25cm</h3>
										<ul>
											<li><b>Milieuvriendelijk en duurzaam:</b> De snijplank is vervaadigd uit Paperstone®, een ecologisch materiaal gemaakt van gerecycled papier en natuurlijke harsen. Dit maakt het product volledig recyclebaar en vrij van schadelijke stoffen, zoals kunstharsen.</li>
											<li><b>Hygiënisch en antibacterieel:</b> Dankzij de niet-poreuze samenstelling is de snijplank zeer hygiënisch, hypoallergeen en antibacterieel. Dit voorkomt de ophoping van bacteriën en maakt het veilig voor dagelijks gebruik.</li>
											<li><b>Slijtvast en mesvriendelijk:</b> De snijplank is krasbestendig en slijtvast, wat zorgt voor een lange levensduur. Tegelijkertijd is het oppervlak vriendelijk voor messen, waardoor deze langer scherp blijven.</li>
											<li><b>Warmtebestendig tot 180˚C:</b> De snijplank kan temperaturen tot 180˚C weerstaan zonder dat het materiaal beschadigt of het voedsel doorgaart. Hierdoor is het ook geschikt als serveerplank voor warme gerechten.</li>
											<a href="https://www.bol.com/nl/nl/p/primecook-snijplank-in-paperstone-35-x-25-cm-krasbestendig-ecologisch/9300000069012875/?suggestionType=featured_product" target="_blank" rel="noopener noreferrer">Primecook Composieten Snijplank</a>
										</ul>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/snijplank04.jpg" alt=""></span>
								</div>
							</div>

							<hr class="major" />

							<div class="row">
								<div class="col-8 col-12-small">
									<h3>5. Pebbly Snijplank - Essenhout - 50x40cm</h3>
										<ul>
											<li><b>Gemaakt van 100% natuurlijk essenhout:</b> Deze snijplank is vervaardigd uit massief essenhout, een stevig duurzaam materiaal dat bekend staat om zijn lange levensduur en natuurlijke antibacteriële eigenschappen.</li>
											<li><b>Voorzien van een sapgeul:</b> De geïntegreerde sapgeul rondom de plank vangt sappen op van bijvoorbeeld vlees, fruit of groenten, waardoor je werkblad schoon blijft.</li>
											<li><b>Ruim formaat van 50 x 40 cm:</b> Met zijn royale afmetingen biedt deze snijplank voldoende ruimte voor het bereiden van diverse ingrediënten, wat het snijproces efficiënter maakt.</li>
											<li><b>Stijlvol en functioneel ontwerp:</b> Het natuurlijke essenhout geeft de plank een warme, landelijke uitstraling die in elke keukensetting past. Bovendien is het aanbevolen om de plank met de hand af te wassen om de kwaliteit te behoudem.</li>
											<a href="https://www.bol.com/nl/nl/p/snijplank-essenhout-50-x-40-cm-pebbly/9300000124085129/?bltgh=tJ0uX64vg7kvbLQ5poNOzQ.4_8.9.ProductTitle" target="_blank" rel="noopener noreferrer">Pebbly Essenhouten Snijplank</a>
										</ul>
								</div>
								<div class="col-4 col-12-small">
									<span class="image fit"><img src="static/images/snijplank05.jpg" alt=""></span>
								</div>
							</div>


						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/snijplanken">Snijplanken</a></li>
										<li><a href="pannen">Pannen</a></li>
										<li><a href="elements">Elements</a></li>
										<li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ante interdum</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="static/images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>